extends layout
block content
	h1#discosHeader Todos los discos
	#discosContainer
		for disco in discos
			article.disco
				.imgContainer 
					img(alt="imagen")
				p.discoNombre #{disco.nombre}
				p.discoArtista #{disco.artista}
				p.discoGenero Género: #{disco.genero}