extends layout

block content
  .wrapper.row2
    main#container.clear
      #homepage
        #services
          ul.clear
            each genre, index in genres
              li
                article
                  a.service(class=`s-${index + 1 }` href='/genero')
                    h2=genre
