extends layout

block content 
  .wrapper.row2
    main#container.clear
      //- container body
      //- ##########################################################################################
      #homepage
        //- Services
        #services
          ul.clear
            for genero in generos
              li
                article
                  a.service.s-1(href='/genero/id')
                    h2=genero
