extends layout

block content
  .wrapper.row2
    main#container.clear
      #homepage
        #services
          ul.clear
            each object, index in generos
              li
                article
                  a.service(class=`s-${index + 1 }` style='background-image: url(/images/'+ object.img +');' href='discografia/generos/'+ index)
                    h2 #{object.genero}
