extends layout

block generos
  for genero in generos
    li
      a(href='pages/full-width.html') #{genero}

block content
  #slider.jcarousel-wrapper
    #slider_content.jcarousel
      ul
        each disco in discos
          li
            figure
              a(href='/discos/' + disco.id)
                img(src=disco.img alt='discCover')
              figcaption
                h2 #{disco.nombre}
                p by #{disco.artista}
                footer
                  a(href='/discos/' + disco.id) Read More Here &raquo;
    a#featured-item-prev.jcarousel-control-prev(href='#') &laquo; Previous
    a#featured-item-next.jcarousel-control-next(href='#') Next &raquo;
