doctype html
block head
	head
		title The Modernist
		meta(charset='utf-8')
		link(rel="icon" href="/images/favicon.png")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
		link(rel='stylesheet' href='/stylesheets/layout.css' type='text/css')

body
	script(type='text/javascript' src='/javascripts/jquery-3.3.1.min.js')
	script(type='text/javascript' src='/javascripts/jquery.jcarousel.pack.js')
	script(type='text/javascript' src='/javascripts/jquery.jcarousel.setup.js')
	script(type='text/javascript' src='/javascripts/search.js')
	script(type='text/javascript' src='/javascripts/activeButtons.js')
	block header
		.wrapper.row1
			header#header.clear
				#logo
					h1
						a(href='/') The Modernist
					p Tienda de Discos
				div.form-wrapper.cf
					input#busqueda(type='text' placeholder='Search here...' required='' value=inputText)
					button#search Search
				nav
					ul.clear
						li.home
							a(href='/') Home
						li.discos
							a(href='/discos') Discos
						li.generos
							a.drop(href='/generos') Géneros
							ul
								block generos
									each object, index in generos
										li
											a(href='/generos/' + index) #{object.genero}
						li.ingreso
							a#linkLogin(href='/ingreso') Ingresar
	block content
							
			//- #allContent
			//- 	block content
	block footer
		.wrapper.row3
			footer#footer.clear
				.one_quarter
					h3.title About Us
					p
						| Collectible records and CDs from the world availables in all formats: Vinyl records LPs, CDs, EPs, 7"s, 12"s, cassettes, 78 RPMs, promo items, etc.
				.one_quarter
					h3.title Contact Us
					p
						| Tel: 5555 1111111111
						br
						|         Fax: 55555 0123456789
						br
						|         Email: 
						a(href='#') contact@themodernist.com
				.one_quarter
					h3.title Networks
					p.redes_footer
						a(target='_blank' href='https://www.facebook.com/')
							i.fab.fa-facebook
						a(target='_blank' href='https://www.instagram.com/')
							i.fab.fa-instagram
						a(target='_blank' href='https://twitter.com/')
							i.fab.fa-twitter
						a(target='_blank' href='https://whatsapp.com/')
							i.fab.fa-whatsapp
		.wrapper.row4
			#copyright.clear
				p.fl_left
					| Copyright &copy; 2018 - All Rights Reserved - 
					a(href='#') themoderniststore.com
				p.fl_right
					| Template reused by 
					a(target='_blank' href='http://www.os-templates.com/' title='Free Website Templates') Débora, Mecha y Georgi
	script(type='text/javascript' src='/javascripts/index.js')
		
