extends layout

block content 
    .wrapper.row2
        main#container.clear
            #content.two_third
                .spacer
                    #comments
                         form(action="login", method="POST" id="registro")
                            p
                                label e-mail*
                            p    
                                input(type="email" name="email" id="emailLogin") 
                            p
                                label Contraseña*
                            p
                                input(type="password" name="password" id="passwordLogin")
                            button(type="submit" id="btnLogin") Entrar
                            p   
                                a(href="/discografia/nuevoUsuario") Nuevo usuario
                                

