extends layout

block content
  #slider.jcarousel-wrapper
    #slider_content.jcarousel
      ul
        for disc in discs
          li
            figure
              a(href='/discos/' + disc.id)
                img(src=disc.img alt='discCover')
              figcaption
                h2 #{disc.title}
                h3 by #{disc.author}
                p #{disc.descirption} &mldr;
                footer
                  a(href='/discos/' + disc.id) Read More Here &raquo;
  //- Previous Next
  a#featured-item-prev.jcarousel-control-prev(href='#') &laquo; Previous
  a#featured-item-next.jcarousel-control-next(href='#') Next &raquo;
//- Previous Next
//- ##########################################################################################
